
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

@tailwind base;
@tailwind components;
@tailwind utilities;

.file-input {
  /* font-size: 3.5vw;  */
  font-size: 0.8rem;
}

.truncated {
  white-space: nowrap;         /* Prevent text from wrapping */
  overflow: hidden;            /* Hide overflow text */
  text-overflow: ellipsis;     /* Add ellipsis for overflowed text */
  max-width: 170px;            /* Set a max width based on your design */
}
